# COVID-19 Evolution

## Get Data

### Import Data from CSV file

In [2]:
file_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data" \
             "/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

### Set Input Data using Pandas

In [3]:
import pandas as pnd
df_deaths = pnd.read_csv(file_deaths)

In [4]:
df_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4,4,4,4,4,4,6,6,7,7
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,8,10,10,11,15,15,16,17,20,20
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,26,29,31,35,44,58,86,105,130,152
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,3,3,6,8,12,14,15,16,17,18
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,2,2,2,2,2,2,2,2

### Get list of Countries

In [ ]:
list_countries = df_deaths[['Country/Region']]
# list_dates = 
for column_name in df_deaths.columns:
    if re.search(r'*', column_name):

In [7]:
import matplotlib.pyplot as plt
for country in list_countries.head():
    df_deaths_per_country = df_deaths[df_deaths['Country/Region'] == country]
    
    # x_axis = 
    plt.plot(df_country, df_country)

NameError: name 'x' is not defined