# COVID-19 Evolution

## Get Data

### Import Data from CSV file

In [2]:
file_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data" \
             "/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

### Set Input Data using Pandas

In [3]:
import pandas as pnd
df_deaths = pnd.read_csv(file_deaths)
# df_deaths.head()

### Select a list of countries

In [4]:
list_countries = ['France', 'Italy', 'Spain', 'United States']
df_deaths = df_deaths.loc[df_deaths['Country/Region'].isin(list_countries)]
# df_deaths_per_country.head()

### Select useful columns & Aggregate data by country

In [6]:
df_deaths_per_country = df_deaths.drop(['Province/State', 'Lat', 'Long'], axis=1)
df_deaths_per_country = df_deaths_per_country.groupby(['Country/Region']).sum()
df_deaths_per_country.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
France,0,0,0,0,0,0,0,0,0,0,...,1997,2317,2611,3030,3532,4043,5398,6520,7574,8093
Italy,0,0,0,0,0,0,0,0,0,0,...,9134,10023,10779,11591,12428,13155,13915,14681,15362,15887
Spain,0,0,0,0,0,0,0,0,0,0,...,5138,5982,6803,7716,8464,9387,10348,11198,11947,12641

### Get start date per country

In [44]:
tup_start_date = (df_deaths_per_country >= 5).idxmax(axis=1)
get_index = lambda tuple_i[1] : (tuple_i[-1], df_deaths_per_country.columns.get_loc(tuple_i[1]))

tup_start_date2 = get_index(tup_start_date)
# tup_start_date = list(map(lambda tup_start_date : (tup_start_date[0], int(tup_start_date[1]) + 10), tup_start_date))

print(tup_start_date2)

('3/6/20', 33)

### Shift data to start date

### Get list of Countries

In [23]:
import matplotlib.pyplot as plt
for x in df_deaths_per_country.iterrows():
    #x[1][4:].plot(label=x[0])
    print (x.columns)
#plt.legend()

#plt.legend(bbox_to_anchor=(1.05, 1))

AttributeError: 'tuple' object has no attribute 'columns'

In [ ]:
list_countries = df_deaths[['Country/Region']]
# list_dates = 
for column_name in df_deaths.columns:
    if re.search(r'*', column_name):

In [7]:
import matplotlib.pyplot as plt
for country in list_countries.head():
    df_deaths_per_country = df_deaths[df_deaths['Country/Region'] == country]
    
    # x_axis = 
    plt.plot(df_country, df_country)

NameError: name 'x' is not defined